.container {
    margin: 5px;
    padding: 5px;
    background-color: #c79e94;
    border: black solid 1px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 45px;
}

@media (max-width: 600px) {
    .container {
        background-color: indianred;
    }
}

.top {
    display: flex;
    margin-bottom: 10px;
}

.image {
    width: 20px;
    height: 20px;
    border-radius: 40px;
}

.name {
    font-weight: bold;
    align-self: center;
    margin: 0 auto;
    font-size: 32px;
    color: #f9ddb9;
}

.red {
    background-color: #960202;
}

.blue {
    background-color: #070763;
}

.grey {
    background-color: #675757;
}

.description {
    margin-left: 10px;
    text-align: left;
}