.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b31a80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bgimporte{
  width: 100%;
  height: 600px;
  background-image: url(./asset/cover.jpg);
  background-repeat: no-repeat ;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom;

}

.logodev{
  width: 50px;
  height: 50px;
  background-image: url(./asset/logoessa2.png);
  background-repeat: no-repeat ;
  background-attachment: scroll;
  background-size: contain;
  background-position: bottom;
}

.item1S { grid-area: header; }
.item2S { grid-area: menu; }
.item3S { grid-area: main;}
.item5S { grid-area: footer; }

.grid-containerS {
  display: grid;
  grid-template-areas:'header''main''menu''footer';
  background-color: #ffffff;
  padding: 10px;
}

.grid-containerS > div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.bodyS{
  background-color: rgb(85, 81, 81);
}

.taillePheader{
  font-size: 15px;
  margin: 0;
}

.taillePAside{
  font-size: 13px;
  margin: 0;
}

.dropdown-item:hover{
  cursor: pointer !important;;
}

.nav-link:hover{
  cursor: pointer !important;;
}

body{
  margin: 0;
}

img{
  width: 500px;
}

/* #particles-js{
  background: radial-gradient(circle, rgba(193, 196, 209, 1) 0%,
  rgba(3, 3, 29, 1) 100%);
  height: 100vh;
}

#welcome{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
} */

/* .scale-in-center {
  -webkit-animation: scale-in-center 1.5s cubic-bezier(0.250,
  0.460, 0.450, 0.940) 1s both;
  animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460,
  0.450, 0.940) 1s both;
} */

/* @-webkit-keyframes scale-in-center {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
} */

@media screen and (min-width: 768px)
{
  .grid-containerS {
    display: grid;
    grid-template-areas:
    'header header header header header '
    'menu main main main main'
    'footer footer footer footer footer';
    grid-gap: 0px;
    grid-gap: 0px;
    background-color: #f3ebeb;
    padding: 10px;
    width: 800px;
    padding: 0px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;
  }
}