.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#particles-js {
  background: radial-gradient(circle, rgba(193, 196, 209, 1) 0%,
  rgba(3, 3, 29, 1) 100%);
  height: 100vh;
}
#welcome {
  position: absolute;

  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b31a80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bgimporte{
  width: 100%;
  height: 600px;
  background-image: url(./asset/cover.jpg);
  background-repeat: no-repeat ;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom;

}

.logodev{
  width: 50px;
  height: 50px;
  background-image: url(./asset/logoessa2.png);
  background-repeat: no-repeat ;
  background-attachment: scroll;
  background-size: contain;
  background-position: bottom;
}

.item1S { grid-area: header; }
.item2S { grid-area: menu; }
.item3S { grid-area: main;}
.item5S { grid-area: footer; }

.grid-containerS {
  display: grid;
  grid-template-areas:'header''main''menu''footer';
  background-color: #ffffff;
  padding: 10px;
}

.grid-containerS > div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.bodyS{
  background-color: rgb(85, 81, 81);
}

.taillePheader{
  font-size: 15px;
  margin: 0;
}

.taillePAside{
  font-size: 13px;
  margin: 0;
}

.fsize{
  font-size: 13px;
}

.dropdown-item:hover{
  cursor: pointer !important;;
}

.nav-link:hover{
  cursor: pointer !important;;
}

body{
  margin: 0;
}

img{
  width: 500px;
}




.slider0 {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slider1 {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 250ms both;
      animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 250ms both;
}
.slider2 {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
      animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
}
.slider3 {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 750ms both;
      animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 750ms both;
}
.slider4 {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms both;
      animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms both;
}




.slidel0 {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1100ms both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1100ms both;
}
.slidel1 {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1300ms both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1300ms both;
}
.slidel2 {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1500ms both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1500ms both;
}
.slidel3 {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1700ms both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1700ms both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
        transform: translateX(0);
    opacity: 1;
  }
  }
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
        transform: translateX(0);
    opacity: 1;
  }
  }

  .slide-in-elliptic-top-fwd {
    -webkit-animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-elliptic-top-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}














.color-change-2x {
	-webkit-animation: color-change-2x 16s linear 5s infinite alternate both;
	        animation: color-change-2x 16s linear 5s infinite alternate both;
}



 @-webkit-keyframes color-change-2x {
  0% {
    background: rgb(85, 81, 81);
  }
  100% {
    background: #af7278;
  }
}
@keyframes color-change-2x {
  0% {
    background: rgb(85, 81, 81);
  }
  100% {
    background: #af7278;
  }
}

.text-blur-out {
	-webkit-animation: text-blur-out 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s both;
	        animation: text-blur-out 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s both;
}


 @-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}












.text-shadow-pop-tr {
	-webkit-animation: text-shadow-pop-tr 6s both;
	        animation: text-shadow-pop-tr 6s both;
}


 @-webkit-keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}







@media screen and (min-width: 768px)
{
  .grid-containerS {
    display: grid;
    grid-template-areas:
    'header header header header header '
    'menu main main main main'
    'footer footer footer footer footer';
    grid-gap: 0px;
    grid-gap: 0px;
    background-color: #f3ebeb;
    padding: 10px;
    width: 800px;
    padding: 0px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;
  }
}